p {

	padding:0px;
	line-height:normal;

}

a {

	text-decoration: none;
	color:#000;

}


body {

	max-width:1175px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
	margin: 0 auto;

}

.header {

	display: inline-block;
    margin-top: 45px;
	margin-bottom:0px;
    position: relative;
    width: 100%;
    background-color:#fff;


}

.contentbox {

	position:relative;
	margin-top:20px;
	padding:50px;
	font-size:45px;
	text-align:center;
	font-family:  'Roboto', sans-serif;
	font-weight: 300;


}



.logo {

	float:left;
	position:relative;
	width:200px;
	font-size:100px;
	font-family:  'Roboto', sans-serif;
	font-weight: 900;
	color:#000;
	margin-left:50px;
	line-height:150px;

}


.logo img{

width:120px;
height:auto;

}

.smlogo {

display:none;

}



.sections {

	float:right;
	position:absolute;
	font-size:20px;
	text-align:center;
	font-family:  'Roboto', sans-serif;
	font-weight: 400;
	color:#000;
	right:0px;
	bottom:-70px;
	width:500px;
	height:150px;

}

.sections span {

	margin-left:30px;

}

.sections span a:hover {

    animation: .3s linear 0s normal none infinite running example3;


}


.footer {

	display: inline-block;
    margin-top: 20px;
    position: relative;
    width: 100%;
    background-color:#fff;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;
	font-size:10px;
	font-family:Roboto, sans serif;
	color:#999;
	text-align:center;
	margin-bottom:15px;

}


#iscurrent {

	border-bottom: 4px solid #000;

}


@media screen and (max-width: 768px) {

.smlogo {

	display:none;


}

.logo {

	display:block;
	width:300px;
	font-size:100px;
	font-family:  'Roboto', sans-serif;
	font-weight: 900;
	color:#000;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	margin-bottom:50px;
	text-align:center;
	float:none;

}

.logo img{

width:100px;
height:auto;

}

.sections {
	
	display:block;
	font-size:20px;
	text-align:center;
	font-family:  'Roboto', sans-serif;
	font-weight: 400;
	color:#000;
	right:0px;
	bottom:0px;
	width:100%;
	height:50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	line-height:30px;

}

.sections span {

	margin-left:15px;
	margin-right:15px;
	margin-bottom:25px;
}

.sections a {

margin-top:20px;

}


.contentbox {

	position:relative;
	margin-top:30px;
	padding:25px;
	font-size:25px;


}


.header {

	display: inline-block;
    margin-top: 45px;
	margin-bottom:0px;
    position: relative;
    width: 100%;
    background-color:#fff;
    border-bottom-style:solid;
    border-bottom-color:#000;
    border-bottom-width:0px;

}

}

